* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MARK: header */

header {
    background-color: var(--color-orange);
}

.logo-funda {

    @media (min-width: 768px) {
        display: flex;
        justify-content: flex-start;
 }
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    column-gap: .5em;
}

li {
    display: flex;
    flex-direction: column;
    padding: .5em;
    color: var(--color-white);
    justify-items: center;
    &:hover {
        background-color: var(--color-orange-hover);
        cursor: pointer;
    }
}

.navigatie-icon {
    @media (min-width: 768px) {
        justify-content: flex-end;
    }
}
.navigatie-l {
    display: none;
    font-family: var(--font-proxima-regular);
    color: var(--color-white);
    text-decoration: none;
    align-items: center;
    justify-content: center;
        @media (min-width: 768px) {
            display: block;
            padding-top: .6em;;
        }
}

a, .button-menu{
    font-family: var(--font-proxima-regular);
    font-size: var(--font-size-xxs);
}

.button-menu {
    font-family: var(--font-proxima-regular);
    font-size: var(--font-size-xxs);
    
     @media (min-width: 768px) {
            display: none;
        }
}

/* MARK: main mediaviewer & info */

.desktop {
    @media (min-width: 1440px) {
        position: relative;
        left: 15%;
        max-width: 984px;
    }
}

@supports (scroll-snap-type: x mandatory) {
    .carousel {
        display: flex;
        overflow-x: auto;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;  
    }

    .carousel__slide {
        scroll-snap-align: center;
        scroll-snap-stop: always;
    }
}

@supports not (scroll-snap-type: x mandatory) {
    .carousel {
        display: flex;
        overflow-x: scroll;
    }

    .carousel__slide {
        margin-right: 1em; 
    }
}

.adres {
    display: grid;
    grid-template-columns: auto .5fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 2em;
}


.straat {
    grid-column: 1/2;
    grid-row: 1/2;
    font-family: var(--font-proxima-semibold);
    font-size: var(--font-size-xm);
    border-top: solid 1px var(--color-border);
    padding-top: .8em;
    padding-left: .5em;
}

.tekst-postcode {
    grid-column: 1/2;
    grid-row: 2/3;
    font-family: var(--font-proxima-regular);
    font-size: var(--font-size-m);
    padding: .5em 0 0 .7em;
}

.image-kaart-adres {
    grid-column: 2/3;
    grid-row: 1/3;
    padding-top: 1em;
}


.info-oppervlakte {
    display: flex;
    grid-row: 2/3;
    grid-column: 1/2;
    column-gap: .7em;
    padding-left: .5em;
}


.maandlasten {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: .4em;
}

.maandlasten a {
    display: flex;
    align-items: center;
    padding-left: -.5em;
    font-family: var(--font-proxima-regular);
    font-size: var(--font-size-m);
    color: var(--color-blue);
    text-decoration: none;
    padding-bottom: 1em;
    &:hover {
        text-decoration: underline;
        cursor: pointer;

    }
}

.tekst-icons {
    font-family: var(--font-proxima-regular);
    font-size: var(--font-size-m);
    padding-top: .2em;
}

.tekst-price {
    font-family: var(--font-proxima-semibold);
    font-size: var(--font-size-m);
    padding-left: .225em;
    padding-top: .8em;
}

.omschrijving p {
    padding-left: .8em;
    font-family: var(--font-proxima-regular);
    font-size: var(--font-size-m);
    padding-top: .2em;
    line-height: 1.5em;
}

#check {
    display: none;
}

#check:checked ~ .content {
    display: block;
}

#check:checked ~ p {
    display: none;
}

#check:checked ~ label {
    display: none;
}

.content {
    display: none;
}

@supports not (selector(:checked)) {
    .content {
        display: block;
    }
    #check, label {
        display: none;
    }
}

.omschrijving label {
    display: flex;
    align-items: center;
    padding-left: .5em;
     color: var(--color-blue);
    text-decoration: none;
    padding-bottom: 1em;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}


.advertentie-button {
    background-color: var(--color-light-grey);
    color: var(--color-white);
    padding: .4em;
    border-radius: .3em;
    font-family: var(--font-proxima-semibold);
    font-size: var(--font-size-xs);
    margin-left: .6em;
    margin-top: 1em;
    &:hover {
        background-color: var(--color-light-grey-hover);
        cursor: pointer;
    }
}

.advertentie {
    border-top: var(--border);
    margin-top: .5em;
    padding-left: .6em;
    padding-bottom: .7em;
    border-bottom: var(--border);
    display: grid;
    grid-template-columns: .95fr auto;
    grid-template-rows: .6fr .4fr .8fr .5fr;
    column-gap: .4em;
}

.logo-thuis-in-staal {
    grid-column: 1/2;
    grid-row: 1/2;
    padding-top: .5em;
}
.design-stalen-deur-h1 {
    grid-column: 1/2;
    grid-row: 2/3;
    column-gap: .1em;
    min-width: 10em;

}

.design-stalen-deur-p {
    grid-column: 1/2;
    grid-row: 3/4;

}

.offerte {
    grid-column: 1/2;
    grid-row: 4/5;
    max-width: 7em;
    border: solid 1px var(--color-blue);
    font-family: var(--font-proxima-regular);
    font-size: var(--font-size-m);
    color: var(--color-blue);
    padding-left: .7em;
    margin-top: .5em;
    border-radius: .2em;
    &:hover {
        background-color: var(--color-blue);
        color: var(--color-white);
        cursor: pointer;
 ;
    }
}

.image-staal {
    grid-column: 2/3;
    grid-row: 2/5;
}

/* MARK: description lists */

.kenmerken {
    padding: 1em 0 1em .4em;
}

.naam-kenmerk-tabel {
    display: flex;
    column-gap: .5em;
    padding-bottom: .5em;
    h2 {
        padding-top: .4em;
    }
}

.description-list {
    border: var(--border);
    margin: .8em;
    padding: .8em;
    @media (min-width: 768px) {
        max-width: 60rem;
    }
    a {
        color: var(--color-blue);
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.detail-standard {
  border-bottom: var(--border);
  padding-bottom: .6em;
}

dt {
    color: var(--color-grey);
    padding-top: .4em;
    padding-bottom: .4em;
}

.detail-padding {
    padding: .5em 0 .5em 1em;
}

.detail-padding-border {
    border-bottom: var(--border);
    padding-left: 1em;

}

/* MARK: overige info */

.betalen-ing {
    border-top: solid 1px var(--color-ing);
    border-bottom: solid 1px var(--color-ing);
    padding: 1em .5em 1em .8em;
    margin: .7em;
    display: grid;
    grid-column: auto .5fr;
    column-gap: .6em;
    a {
        color: var(--color-blue);
        font-family: var(--font-proxima-regular);
        font-size: var(--font-size-m);
        text-decoration: none; 
        &:hover {
            text-decoration: underline;
        }
    }
}

.ing {
    grid-column: 1/2;
}

.p-ing {
    grid-column: 1/2;
    
}

.logo-ing {
    grid-column: 2/3;
}

.verandering {
    background-color: var(--color-lightblue);
    margin: .8em;
    border-radius: .3em;
    position: relative;
    padding-bottom: 4em;
    padding-top: 2em;
}

.button-verandering {
        background-color: var(--color-white);
        position: absolute;
        left: 6%;
        font-family: var(--font-proxima-regular);
        color: var(--color-blue);
        border: 1px solid var(--color-blue);
        padding: .7em;
        width: 18em;
        text-align: center;
        border-radius: .4em;
        &:hover {
            background-color: var(--color-blue);
            color: var(--color-white);
            cursor: pointer;
        }
    }

.h2-verandering {
    text-align: center;
    padding: .5em;
}

.p-verandering {
    text-align: center;
    padding: .5em;
}

.activiteit {
  display: flex;
  justify-content: center;
  border-bottom: var(--border);
  border-top: var(--border);
}

.activiteit-info {
  border-right: var(--border);
  padding: 1em;
  margin: .1em;
}

.h1-activiteit {
    padding: 1em 0 1em .7em;
}

.buurt-groep {
    display: grid;
    grid-template-columns: .5fr 1fr .5fr;
    grid-template-rows: .2fr .2fr;
    padding-bottom: 2em;
    img {
        grid-column: 1/2;
        grid-row: 1/3;
    }
    a {
        grid-column: 2/3;
        grid-row: 1/2;

    }
    p {
        grid-column: 2/3;
        grid-row: 2/3;

    }
    .pijl {
        grid-column: 3/4;
        grid-row: 1/2;
        align-items: right
    }
}

.h1-buurt {
    padding: 1em 0 .7em .6em;
}

iframe {
    padding-left: .7em;
    @media (min-width: 1440px) {
        width: 60.9375em;
    }
}

.tools-maps {
    display: grid;
    grid-column: 1fr;
    a {
        grid-column: 1/2;
        color: var(--color-blue);
        text-decoration: none;
        font-size: var(--font-size-m);
        padding: .5em;
        &:hover {
            text-decoration: underline;
        }
    }
}

.bm-makelaars {
    border: var(--border);
    margin: .8em;
    padding: .8em;
    @media (min-width: 768px) {
        max-width: 60rem;
    }
    a {
        color: var(--color-blue);
        text-decoration: none;
        display: flex;
        padding: .9em 0 .8em .5em;
        &:hover {
            text-decoration: underline;
        }
    }
    img {
        padding-left: .5em;
    }

    .link-tel {
       border-bottom: var(--border);

    }
    button {
        background-color: var(--color-orange);
        color: var(--color-white);
        padding: .6em;
        border-radius: .2em;
        width: 16em;
        margin-top: .9em;
        margin-left: 1em;
        font-family: var(--font-proxima-regular);
        text-align: center;
        display: flex;
        align-items: center; /* Zorgt dat SVG en tekst verticaal gecentreerd zijn */
        justify-content: center;
        column-gap: .2em;
        &:hover {
            cursor: pointer;
            background-color: var(--color-orange-hover);
        }
    }
}

.fout-melden {
    color: var(--color-blue);
    text-decoration: none;
    display: flex;
    font-family: var(--font-proxima-regular);
    font-size: var(--font-size-m);
    padding: .9em 0 1.2em .5em;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    &:hover {
        text-decoration: underline;
    }
}

.vergelijkbaar {
    h2 {
        padding: .5em 0 .5em .8em;
    }

    button {
        background-color: var(--color-white);
        border: 1px solid var(--color-blue);
        padding: .7em;
        margin: .6em 0 .1em .8em;
        &:hover {
            background-color: var(--color-blue);
            color: var(--color-white);
            cursor: pointer;
        }
    }
}


.aanbevelingen {
    border: var(--border);
    margin: .8em;
    padding: 1em;
    @media (min-width: 768px) {
        max-width: 60rem;
    }
    h2, img, .price {
        padding: .5em 0 .3em .5em
    }
}

.FAQ {
    padding: .8em;
}

.toggle {
    display: none;
}

.antwoord {
    display: none;
    padding-top: .5em;
}

.toggle:checked ~ .antwoord { 
    display: block;
}

.toggle:checked ~ label {
    display: none;
}

.vraag {
    display: flex;
    border-bottom: var(--border);
    padding: .5em 0 .5em 0;
}

.toggle:checked ~ .vraag {
    border: none;
}


.toggle + .vraag label img { /*draaien van pijltje als antwoord geopend is*/
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.toggle:checked + .vraag label img {
  transform: rotate(180deg);
}

.verdiepen {
    display: flex;
    flex-direction: column;
    button {
        border: var(--border);
        padding: .7em;
        margin: .8em;
        font-family: var(--font-proxima-regular);
        color: var(--color-blue);
    }
}